.wrapper{
width: 960px;
}

/* CLASSES & SERVICES STYLES  - I realize we can probably style all the headers in one place, we can totally change this */

#services h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#services h2{
color: #A170B0;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#services h3{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#services h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#classes h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#classes h2{
color: #A170B0;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#classes h3{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#classes h3 a{
text-decoration: none;
color: black;
}

#classes h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

/* EVENTS & CALENDAR STYLES  - I realize we can probably style all the headers in one place, we can totally change this */

#events h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#events h3{
color: #A170B0;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#events h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#calendar h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#calendar h3{
color: #A170B0;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#calendar h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#booking h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#booking h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}







/* AMANDA FRANK'S "About" SECTION - start
 * ________________________________________________________________________ */

/* Accordion Grid */


#page-wrap { 
	width: 100%; 
	float: left;
	padding: 0 0 0 15px; 
	overflow: hidden; 
	margin: 0 auto;
}

.info-col { 
	float: left; 
	width: 8.250em; /* 132px */
	height: 100%; 
	padding: 50px 0 0 0;
}
.info-col h2 { 
	text-align: center; 
	font-weight: normal; 
	padding: 0; 
}

.image { 
	width: 100%;
	height: 225px; 
	text-indent: -9999px; 
	display: block; 
	border-right: 1px solid white;
}

.member1 { background: url(../images/bio/bio_img_5357-edit.jpg) center center no-repeat; }
.member2 { background: url(../images/bio/bio_img_5392-edit.jpg) center center no-repeat; }
.member3 { background: url(../images/bio/bio_img_5528-edit.jpg) center center no-repeat; }
.member4 { background: url(../images/bio/bio_img_5541-edit.jpg) center center no-repeat; }
.member5 { background: url(../images/bio/bio_img_5570-edit.jpg) center center no-repeat; }

dt { 
	padding: 5px; 
	background: #900; 
	color: white; /* text color title */
	border-bottom: 1px solid white; 
	border-right: 1px solid white; 
}
dd { 
	position: absolute; 
	left: -9999px; 
	top: -9999px; 
	width: 299px; 
	background: #900; 
	padding: 10px; 
	color: #404040; /* text color body copy */
	border-right: 1px solid white; 
}

dt:nth-of-type(1), dt:nth-of-type(2), dt:nth-of-type(3), dt:nth-of-type(4), dt:nth-of-type(5), dt:nth-of-type(6) { background: #4D2970; } /* 1st col title bg color */
dd:nth-of-type(1), dd:nth-of-type(2), dd:nth-of-type(3), dd:nth-of-type(4), dd:nth-of-type(5), dd:nth-of-type(6) { background: white; } /* inside 1st col bg color */

.curCol { 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2); 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2); 
	z-index: 1; 
	position: relative; 
}
/* ________________________________________________________________________ */
 
 