

/* CLASSES & SERVICES STYLES  - I realize we can probably style all the headers in one place, we can totally change this */

#services h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#services h2{
color: #A170B0;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#services h3{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#services h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#classes h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#classes h2{
color: #A170B0;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#classes h3{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#classes h3 a{
text-decoration: none;
color: black;
}

#classes h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

/* EVENTS & CALENDAR STYLES  - I realize we can probably style all the headers in one place, we can totally change this */

#events h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#events h3{
color: #A170B0;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#events h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#calendar h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#calendar h3{
color: #A170B0;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#calendar h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#booking h1{
color: #4D2A71;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}

#booking h4{
color: black;
font-family: 'Oswald', sans-serif;
letter-spacing: 1px;
}
