/*
* Skeleton V1.1
* Copyright 2011, Dave Gamache
* www.getskeleton.com
* Free to use under the MIT license.
* http://www.opensource.org/licenses/mit-license.php
* 8/17/2011
*/

/* Table of Content
==================================================
	#Site Styles
	#Page Styles
	#Media Queries
	#Font-Face */

/* #Site Styles
================================================== */

/* #Page Styles
================================================== */

.margin_bottom_35{
margin-bottom: 35px;
}

.margin_bottom_10{
margin-bottom: 10px;
}


html{		
	background-image: url(../images/KazumPattern.png);
		-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	display: block;
	width: 100%;
	background-color: #a170b0;

}
	
header{ 
background: url(../images/bigtop.png) no-repeat; 
width: 100%;
height: 69px;
}

.backgroundcolor{
	background-color: #f3f4ee;
	width: 100%;
	height: 100%;
	margin-top: -1px;
	padding-top: 5em;
}

footer p a:hover{
color: #B5B5B5;}


/* navigation
____________________________________________*/

nav{ /* controls nav position */
height: 35px;
width: 100%;
position: relative;
background-color: rgb(77, 41, 112);

}


nav ul { /* controls nav position */
text-align: center;
position: relative;
top: -170%;
 z-index: 9999;

margin:0;
padding:0;
list-style-type:none; 
}


nav li{
  display:inline;
  margin: 0 auto; 


}


.logo{
 width: 255px; 
 height: 155px;

vertical-align: middle;
}

.nav-diamond {
	color: #f3f4ee;
}

/* 960-255(logo)=705 / 6links =117.5 */
.getbigger
{width: 24.9%;
float: right;
background: aqua;
margin:0 0 10px 0;
text-align:center;
}
/* 352.5 / 960 0.122395833333333 = 12.2395833333333% */


nav a:link {
color:#fff; text-decoration: none; }  /* unvisited link */

nav a:visited {
color:#fff; text-decoration: none;}  /* visited link */

nav a:hover {
color:#E8E8E8; text-decoration: none;}  /* mouse over link */

nav a:active {
color:#E8E8E8; text-decoration: none;}  /* selected link */ 




/*NAVIGATION FLAGS
************************************************************************/

.rightflag {
position: absolute;
z-index: -1000;
left: 99.8%;
top: 80px;
}

.leftflag {
position: absolute;
z-index: -1001;
left: -2.4%;
top: 80px;
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}

.flip img {
        -moz-transform: scaleX(-1);
        -o-transform: scaleX(-1);
        -webkit-transform: scaleX(-1);
        transform: scaleX(-1);
        filter: FlipH;
        -ms-filter: "FlipH";
}



/* ________________________________ MURPHY'S STYLES ________________________________ */

/* CLASSES & SERVICES STYLES */


.services p a{
text-decoration: none;}

.services p a:hover {
color: #B5B5B5;}


/* EVENTS & CALENDAR STYLES */


#events p a{
text-decoration: none;
color: black;}

#events p a:hover{
color: #B5B5B5;}




/* AMANDA'S "About" SECTION - start
 * ________________________________________________________________________ */

/* Accordion Grid */
.center-accordion {
	padding-left: 1.5%;
}

#page-wrap { 
	width: 100%; 
	float: left;
	overflow: hidden; 
}

.info-col { 
	float: left; 
	width: 8.250em; /* 132px */
	height: 100%; 
	padding: 50px 0 0 0;
	border-left: 1px solid #F3F4EE;
	border-right: 1px solid #F3F4EE;
}
.info-col h2 { 
	text-align: center; 
	font-weight: normal; 
	padding: 0; 
}

.image { 
	width: 100%;
	height: 320px; 
	text-indent: -9999px; 
	display: block; 
	border-right: 1px solid white;
}

.member1 { background: url(../images/bio/bio_img_5541-edit.jpg) center center no-repeat; }
.member2 { background: url(../images/bio/bio_img_5357-edit.jpg) center center no-repeat; }
.member3 { background: url(../images/bio/bio_img_5528-edit.jpg) center center no-repeat; }
.member4 { background: url(../images/bio/bio_img_5570-edit.jpg) center center no-repeat; }
.member5 { background: url(../images/bio/bio_img_5392-edit.jpg) center center no-repeat; }
.member6 { background: url(../images/bio/bio_img_5458-edit.jpg) center center no-repeat; }

dt { 
	padding: 5px; 
	background: #900; 
	color: white; /* text color title */
	border-bottom: 1px solid white; 
/* 	border-right: 1px solid white;  */
}
dd { 
	position: absolute; 
	left: -9999px; 
	top: -9999px; 
	width: 199px; 
	background: #900; 
	padding: 10px; 
	color: #404040; /* text color body copy */
/* 	border-right: 1px solid white;  */
}

dt:nth-of-type(1), dt:nth-of-type(2), dt:nth-of-type(3), dt:nth-of-type(4), dt:nth-of-type(5), dt:nth-of-type(6) { background: #4D2970; } /* 1st col title bg color */
dd:nth-of-type(1), dd:nth-of-type(2), dd:nth-of-type(3), dd:nth-of-type(4), dd:nth-of-type(5), dd:nth-of-type(6) { background: white; } /* inside 1st col bg color */

.curCol { 
	-moz-box-shadow: 0 0 10px rgba(0,0,0,0.2); 
	-webkit-box-shadow: 0 0 10px rgba(0,0,0,0.2); 
	z-index: 1; 
	position: relative; 
}
.member-name {
	text-align: center;
}


/* Amanda's CONTACT section
================================================== */
.wufoo-z7x3x5 {
	width: 10em;
}

 
/* FOOTER
================================================== */


footer{
background-color:#4d2970; 
display: inherit;
}





footer img{
	padding: 10px 2px ;
   vertical-align: middle;
  
}  

footer p{
	padding-left: 10px;
   vertical-align: middle;
   color: #F3F4EE;
   text-transform:uppercase;
}  

footer a:link {
color:#fff; text-decoration: none;}      /* unvisited link */

footer a:visited {
color:#A9BF04; text-decoration: none;}  /* visited link */

footer a:hover {
color:#ef3b24; text-decoration: none;}  /* mouse over link */

footer a:active {
color:#0000FF; text-decoration: none;}  /* selected link */ 


footer img:hover{
  opacity: 0.5;
}





/*press
***********************************************************************/

.press img{
height: 50px;
padding-bottom:10px;
}


.press p{
padding-top: 10px;
}



/*Elements
***********************************************************************/

.purpBack{
background-color: rgba(161,112,176,0.12); /* hex code #a170b0 */
padding-right:10px;
padding-left:10px;
padding-bottom:10px;
padding-top: 10px;

}


.TopPad{
padding-top: 20px;
}
 
.BottomPad
{padding-bottom: 20px;
}
.line{
border-top:4px solid #a170b0;
  }



/*responsiveslider
***********************************************************************//*! http://responsiveslides.com v1.32 by @viljamis */

.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  }

.rslides li {
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;
  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  }



/*Start ISOTOPE Photo demo
***********************************************************************/


.photos .photo {
width: 29.8850574712644%;

  margin: 10px;
  float: left;
}

.photos .photo img {
  display: block;
  width: 100%;
}

.IsotopeContainer {
  width: 81.25%;
  margin: 0 auto
}

.demos #content {
  height: 100%;
}




/***********************************************************************
end of ISOTOPE Photo demo*/






/* #Flat image carousel
================================================== */


#waterwheel-carousel-flat {
  width:100%;
/*
  background-color:#CCC;
  border:1px solid #222;
*/
  height:250px;
  position:relative;
  clear:both;
  overflow:hidden;
}
#waterwheel-carousel-flat a {
  color:#222;
}
#waterwheel-carousel-flat .carousel-images img {
  visibility:hidden;
  cursor:pointer;
}
#waterwheel-carousel-flat .carousel-controls .carousel-prev {
  position:absolute;
  bottom:20px;
  left:30px;
}
#waterwheel-carousel-flat .carousel-controls .carousel-next {
  position:absolute;
  bottom:20px;
  right:30px;
}



/* # start of responsive image carousel
================================================== */





		.list_carousel {
/* 				background-color: #ccc; */
				margin: 0 0 30px 60px;
				width: 360px;
			}
			.list_carousel ul {
				margin: 0;
				padding: 0;
				list-style: none;
				display: block;
			}
			.list_carousel li {
				font-size: 40px;
				color: #999;
				text-align: center;
				background-color: #eee;
				border: 5px solid #999;
				width: 50px;
				height: 50px;
				padding: 0;
				margin: 6px;
				display: block;
				float: left;
			}
			.list_carousel.responsive {
				width: auto;
				margin-left: 0;
			}
			.clearfix {
				float: none;
				clear: both;
			}
			.prev {
				float: left;
				margin-left: 10px;
			}
			.next {
				float: right;
				margin-right: 10px;
			}
			.pager {
				float: left;
				width: 300px;
				text-align: center;
			}
			.pager a {
				margin: 0 5px;
				text-decoration: none;
			}
			.pager a.selected {
				text-decoration: underline;
			}
			.timer {
				background-color: #999;
				height: 6px;
				width: 0px;
			}

/* #end of responsive image carousel
================================================== */



/* #start of responsive image carousel with HTML buttons
================================================== */
.image_carousel {
	padding: 15px 0 15px 40px;
	position: relative;
	
}
.image_carousel img {
	border: 1px solid #ccc;
	background-color: white;
	padding: 9px;
	margin: 7px;
	display: block;
	float: left;
}
a.prev, a.next {
	background: url(../images/imageslidertest/miscellaneous_sprite.png) no-repeat transparent;
	width: 45px;
	height: 50px;
	display: block;
	position: absolute;
	top: 85px;
}
a.prev {			left: -22px;
					background-position: 0 0; }
a.prev:hover {		background-position: 0 -50px; }
a.prev.disabled {	background-position: 0 -100px !important;  }
a.next {			right: -22px;
					background-position: -50px 0; }
a.next:hover {		background-position: -50px -50px; }
a.next.disabled {	background-position: -50px -100px !important;  }
a.prev.disabled, a.next.disabled {
	cursor: default;
}

a.prev span, a.next span {
	display: none;
}
.pagination {
	text-align: center;
}
.pagination a {
	background: url(../images/imageslidertest/miscellaneous_sprite.png) 0 -300px no-repeat transparent;
	width: 15px;
	height: 15px;
	margin: 0 5px 0 0;
	display: inline-block;
}
.pagination a.selected {
	background-position: -25px -300px;
	cursor: default;
}
.pagination a span {
	display: none;
}
/* 2nd clearfix
.fixclear {
	float: none;
	clear: both;
}
*/

/* #end of responsive image carousel with HTML buttons
================================================== */

/* #image mask
================================================== */
.box{
width:100%;
overflow:hidden;}
}





/* #photofiller
================================================== */


#photofiller {
   /* Prevent vertical gaps */
   line-height: 0;

   -webkit-column-gap:   10px;
   -moz-column-gap:      10px;
   column-gap:           10px;

}
#photofiller img {
  /* Just in case there are inline attributes */
  width: 100% !important;
  height: auto !important;
	padding-bottom: 5px;
}




/* #Media Queries
================================================== */
	

	
/* Ryan-added max size for gallery page */
	@media only screen and (min-width: 960px) and (max-width: 1440px) {
	
	#photofiller {
	-moz-column-count:    5;
	-webkit-column-count: 5;
	column-count:         5;
	}
	
	}
	
	/* Tablet Portrait size to standard 960 (devices and browsers) */
	@media only screen and (min-width: 768px) and (max-width: 959px) {
	
	#photofiller {
	-moz-column-count:    4;
	-webkit-column-count: 4;
	column-count:         4;
	}
	}
	
	/* All Mobile Sizes (devices and browser) */
	@media only screen and (max-width: 767px) {
	
	#photofiller {
	-moz-column-count:    3;
	-webkit-column-count: 3;
	column-count:         3;
	}
	
	}
	
	/* Mobile Landscape Size to Tablet Portrait (devices and browsers) */
	@media only screen and (min-width: 480px) and (max-width: 767px) {
	
	#photofiller {
	-moz-column-count:    1;
	-webkit-column-count: 1;
	column-count:         1;
	}
	
	}
	
	/* Mobile Portrait Size to Mobile Landscape Size (devices and browsers) */
	@media only screen and (max-width: 479px) {
	#photofiller {
	-moz-column-count:    1;
	-webkit-column-count: 1;
	column-count:         1;
	}
	}
	

/* #Font-Face
================================================== */
/* 	This is the proper syntax for an @font-face file
		Just create a "fonts" folder at the root,
		copy your FontName into code below and remove
		comment brackets */

/*	@font-face {
	    font-family: 'FontName';
	    src: url('../fonts/FontName.eot');
	    src: url('../fonts/FontName.eot?iefix') format('eot'),
	         url('../fonts/FontName.woff') format('woff'),
	         url('../fonts/FontName.ttf') format('truetype'),
	         url('../fonts/FontName.svg#webfontZam02nTh') format('svg');
	    font-weight: normal;
	    font-style: normal; }
*/
